@using EntityLayer.Concrete
@model Tuple<List<Blog>, List<Blog>>

<div class="row">
    @foreach (var blog in Model.Item2)
    {
        <div class="col-lg-6">
            <div class="blog-box">
                <div class="post-media">
                    <a href="/blog/blogallread/@blog.BlogID/@Url.FriendlyUrl(blog.BlogTitle)" title="">
                        <img src="@blog.Image" alt="" class="img-fluid">
                        <div class="hovereffect">
                            <span class=""></span>
                        </div>
                    </a>
                </div>
                <div class="blog-meta">
                    <h4><a href="/blog/blogallread/@blog.BlogID/@Url.FriendlyUrl(blog.BlogTitle)" title="">@blog.BlogTitle</a></h4>
                    <small><a href="/Catogory/@blog.CategoryID/@Url.FriendlyUrl(@blog.Category.CategoryName)" title="">@blog.Category.CategoryName</a></small>
                    <small><a href="/blog/blogallread/@blog.BlogID/@Url.FriendlyUrl(blog.BlogTitle)" title="">@(((DateTime)blog.BlogCreateDate).ToString("dd-MMM-yyyy"))</a></small>
                </div>
            </div>
        </div>
    }
</div>

